services:
  - type: web
    runtime: node
    name: fluid-pack-frontend
    buildCommand: npm install && npm run build
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
